/* General Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

/* Header Styling */
th {
    background-color: #0d6efd; /* Blue */
    color: white; /* Text color */
}

/* Color Styles for Each Machine */
.station1 {
    background-color: #CFE2FF; /* Light Red */
}

.station2 {
    background-color: #e2e3e5; /* Light Blue */
}

.station3 {
    background-color: #d1e7dd; /* Light Green */
}

.station4 {
    background-color: #f8d7da; /* Light Yellow */
}

.station5 {
    background-color: #fff3cd; /* Light Orange */
}

.station6 {
    background-color: #cff4fc; /* Light Purple */
}

.station7 {
    background-color: #f8f9fa; /* Light Cyan */
}

.station8 {
    background-color: #C8E6C9; /* Light Mint */
}
